.blogCard {
  background: var(--background-primary);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.25s ease;

  display: flex;
  flex-direction: row;

  cursor: pointer;
}

.cardBanner {
  display: flex;
  border-radius: var(--radius-16);
  transition: var(--transition-1);
  position: relative;
  height: auto;
  min-width: 271px;
  overflow: hidden;
}
