.blogCard {
  background: var(--background-primary);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.25s ease;

  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 20px;
  cursor: pointer;
}

.cardBanner {
  display: flex;
  border-radius: var(--radius-16);
  transition: var(--transition-1);
  position: relative;
  height: auto;
  min-width: 271px;
  overflow: hidden;
}

.blogTopic {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  font-weight: 600;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.b