.blogCard {
  background: var(--background-primary);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.25s ease;

  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 20px;
  cursor: pointer;
}

.cardBanner {
  display: flex;
  border-radius: var(--radius-16);
  transition: var(--transition-1);
  position: relative;
  height: auto;
  min-width: 271px;
  overflow: hidden;
}

.blogTopic {
  background: var(--action-primary);
  color: var(--foreground-secondary);
  font-weight: 600;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.title {
  line-height: 1.4;
  margin-bottom: 1rem;
  font-size: var(--fs-3);
  font-weight: 700;
}

.blogText {
  color: var(--foreground-secondary);
  font-size: var(--fs-4);
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
}

.wrapperFlex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.profileWrapper{
  
}